.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    font-size: calc(12px + 2vmin);
    color: #ffffff;
    background: linear-gradient(135deg, #0C59B6, #1E90FF);
    border-radius: 30px;
    margin-top: 70px;
    padding: 20px 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    
}


.banner img {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

